body{
  background-color: #0d1117;
  height: 11000px;
}
.cont-img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.cont-img2{
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
  left:60%;
  top: 150px;
  width: 20%;
  height: 200px;
  overflow: hidden;
  z-index: -1;
}
.m1{
  object-fit: cover;
  position: absolute;
  left: -30%;
}
.m2{
  height: 200px;
  object-fit: cover;
  position: absolute;
}
.m3{
  height: 30px;
}
.m4{
  height: 10px;
  filter: invert(1);
  opacity: 50%  ;
}
.cont-p:hover .m4{
  margin-top: 5px;
}
.cont-p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cont-p1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cont-p2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cont-p:hover .menu {
  opacity: 100%;
}
.cont-p1:hover .menu1{
  opacity: 100%;
}
.cont-p2:hover .menu2{
  opacity: 100%;
}

.header-gh{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  z-index: 2;
}
.start{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 24%;
  height: 100%;
}
.end{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 23%;
  height: 100%;
  margin-left: 300px;
  overflow: hidden;
}
.a1{
  text-decoration: none;
}
.p1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color:white;
}
.p1:hover{
  color:rgb(179, 179, 179);
  filter: brightness(0.9);
}
.input1{
   width: 225px;
   height: 36px;
   border: 1px solid  white;
   border-radius: 5px;
   padding-left: px;
   background-color: rgba(255, 255, 255, 0.161);
}
.input1:focus{
  background-color: white;
  color: black;
}
.input1:focus .bar{
  opacity: 0%;
}
.b1{
  width: 71px;
  height: 34px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}
.b1:hover{
  filter: brightness(0.6);
}
.bar{
  color: white;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.161);
  top: 26px;
  right: 490px;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid white;
}
