.sec3{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  height: 1450px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px ;
  overflow: hidden;
}
.colunmgha{
  display: flex;
  flex-direction: row;
  width: 99%;
  height: 45%;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.ghcc1{
  display: flex;
  position: relative;
  top: -302px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  height: 300px;
  background-color:#20262d;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.646) ;
  background-image: radial-gradient(circle at left bottom, #20262d 45%,rgba(19, 245, 7, 0.378));
  border-radius: 10px ;
  overflow: hidden;
  margin-bottom: -250px;
}
.ghcc{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  height: 300px;
  background-color:#20262d;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.646) ;
  border-radius: 10px ;
  overflow: hidden;
  transition: opacity .5s ease-in-out ;
  z-index: 2;

}
.ghcc:hover{
  opacity: 0%;
}
.ppp2{
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 20px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.759);
  width: 400px;
  margin-bottom: 50px;
}
.gtcct{
  margin-left: 20px;
  overflow: hidden;
}
.contbox1{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
  background-color: #0d1117;
  margin-right: 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.646) ;
  border-radius: 10px ;
}
.ghch{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: #20262d;
  align-items: end;
}
.namel1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60%;
  background-color: #0d1117;
  margin-left: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px  ;
}
.namel2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 60%;
  margin-left: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px  ;
}
.mc1{
  height: 15px;
  filter: invert(1);
  margin-right: 5px;
}
.codepy{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: pink;
}
.list{
  display:flex;
  flex-direction: column;
  background-color: #0d1117;
  width: 40px;
  height: 100%;
}
.codepyt{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0d1117;
  padding-top: 15px;
}
.textpy{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px ;
  margin-bottom: 5px;
}
.textpy2{
  opacity: 0%;
}
.textpy3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px ;
  margin-bottom: 5px;
}
.textpy4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px ;
  margin-bottom: 2px;
  background-color: rgba(0, 140, 255, 0.359);
  width: 220px;
  padding-left: 30px;
  
}
.textpy5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px ;
  margin-bottom: 2px;
  background-color: rgba(0, 140, 255, 0.359);
  width: 150px;
  padding-left: 30px;
  
}
.textpy6{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px ;
  margin-bottom: 2px;
  background-color: rgba(0, 140, 255, 0.359);
  width: 120px;
  padding-left: 30px;
 
}
.textpy7{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px ;
  margin-bottom: 2px;
  background-color: rgba(0, 140, 255, 0.359);
  width: 80px;
  padding-left: 30px;
}
.repla1{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  top : 135px;
  left: -400px;
  width:100px;

}
.mm4{
  height: 10px;
  filter: invert(1);
  margin-right: 10px;
}

.gha{
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 600px;
  background-color: #0d1117;
  border: 1px solid white;
  background-image: radial-gradient(ellipse at left top, #20262d 45%,rgba(19, 245, 7, 0.378));
  border-radius: 10px ;
  padding-left: 20px;
  overflow: hidden;
}
.ghaa{
  display: flex;
  position: absolute;
  left: 20px;
  flex-direction: column;
  width: 570px;
  height: 600px;
  background-color: #0d1117;
  border: 1px solid white;
  border-radius: 10px ;
  padding-left: 20px;
  overflow: hidden;
  transition: opacity .5s ease-in-out;
}
.ghaa:hover{
  opacity: 0%;
}
.gha2{
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 600px;
  background-color: #0d1117;
  border: 1px solid white;
  background-image: radial-gradient(ellipse at left top, #20262d 45%,rgba(19, 245, 7, 0.378));
  border-radius: 10px ;
  padding-left: 20px;
  overflow: hidden;
}
.ghaa2{
  position:absolute;
  right: 129px;
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 600px;
  background-color: #0d1117;
  border: 1px solid white;
  border-radius: 10px ;
  padding-left: 20px;
  overflow: hidden;
  transition: opacity .5s ease-in-out;
}
.ghaa2:hover{
  opacity: 0%;

}
.mm5{
  position: relative;
  top: -30px;
  height: 70%;
}
.mm6{
  position: relative;
  top: 40px;
  height: 60%;
}
.collaboration{
  display: flex ;
  flex-direction: column;
  width: 60%;
  height: 300px;
  margin-top: 40px;
  margin-left: 25px;
  overflow: hidden;
}
.p6{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
}
.pp6{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: -15px;
  color: white;
}
.srose{
  color: rgb(247, 98, 215);
}